/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button,
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-icon-button {
  border-radius: 40px !important; /* o el valor que prefieras */
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snackbar-warning {
  --mdc-snackbar-container-color: #ff9800;
  --mdc-snackbar-supporting-text-color: black;
}

.mat-mdc-snack-bar-container .mat-mdc-button {
  color: white !important;
}
